<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.gullon.dao.UserDaoImplmysql"/>
    <bean id="daoImpl" class="com.gullon.dao.UserDaoImpl"/>

    <bean id="mysql" class="com.gullon.service.UserServiceImpl">
        <!-- ref: 引用spring容器中创建好的对象
             value：具体的值，基本数据类型
        -->
        <property name="userDao" ref="mysqlImpl"/>
<!--        <property name="userDao" ref="daoImpl"/>-->
    </bean>

    <bean id="moren" class="com.gullon.service.UserServiceImpl">
        <property name="userDao" ref="daoImpl"/>
    </bean>
    <bean id="oracle" class="com.gullon.dao.UserDdaoImplorcle">

    </bean>

</beans>